@import './variables.scss';

@mixin container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 60px 30px;
}

@mixin button {
  align-items: center;
  background-color: $primary-color;
  border: 1px solid $tint-color;
  border-radius: 8px;
  box-shadow: 0px 2px 1px 0px $tint-color;
  -webkit-box-shadow: 0px 2px 1px 0px $tint-color;
  -moz-box-shadow: 0px 2px 1px 0px $tint-color;
  color: $tint-color;
  display: flex;
  font-size: 15px;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 2px;
  padding: 18px 24px;
  text-align: center;
  transition: all 120ms ease-out;

  &:hover {
    background-color: $tint-color;
    box-shadow: 0px 2px 5px 0px $tint-color;
    -webkit-box-shadow: 0px 2px 5px 0px $tint-color;
    -moz-box-shadow: 0px 2px 5px 0px $tint-color;
    color: $primary-color;
    transform: scale(1.1);
  }
}

@mixin big-title {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin subtitle {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
}
