@import '../../../styles/mixins';
@import '../../../styles/variables';

.slider {
  align-items: flex-start;
  border-radius: 12px;
  box-shadow:
    inset 0px 0px 10px -2px $primary-color,
    inset 0px 0px 140px -2px $tint-color-opacity-blog,
    0px 0px 14px -2px #000;
  display: flex;
  height: 600px;
  margin: 50px 0 0 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;

  &__buttons {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 auto 0;
    overflow: hidden;
    padding: 10px;
    z-index: 2;
  }

  &__button {
    margin: 0 0 10px 0;

    &:last-of-type {
      margin: 0;
    }

    button {
      @include button;
      width: max-content;
    }

    &--active button {
      background-color: $tint-color;
      color: $primary-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
    padding: 40px;
    width: 100%;
  }

  &__item {
    border-radius: 8px;
    display: flex;
    filter: blur(15px);
    min-height: 380px;
    max-height: 380px;
    // opacity: 0.6;
    overflow: hidden;
    position: relative;
    transition: all 220ms $animation-2;

    &--active {
      box-shadow: 0px 0px 14px -2px #000;
      -webkit-box-shadow: 0px 0px 14px -2px #000;
      -moz-box-shadow: 0px 0px 14px -2px #000;
      filter: blur(0);
      opacity: 1;
    }
  }

  &__links {
    align-items: center;
    color: $secondary-color;
    display: flex;
    font-family: $font-mono;
    font-size: 18px;
    font-weight: 900;
    margin: auto 0 0 0;
    padding: 20px;
    z-index: 2;

    span {
      margin: 0 10px;
    }

    a {
      align-items: center;
      display: flex;
      transition: all 150ms ease-in-out;

      svg {
        font-size: 20px;
        margin: 0 0 0 10px;
      }

      &:hover {
        color: $tint-color;
        text-decoration: underline;
      }
    }
  }

  &__content {
    background-color: $primary-color-opacity;
    bottom: 0;
    height: 145px;
    left: 0;
    position: absolute;
    right: 0;

    &-list {
      height: 100%;
      position: relative;
      box-shadow: 0px 2px 28px -2px #000;
    }

    &-item {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: calc(100% - 20px * 2);
      margin: auto 0 0 0;
      padding: 20px;
      position: absolute;
      text-align: right;
      transition: all 150ms ease-in-out;
      width: calc(100% - 20px * 2);
      z-index: 1;

      &-title {
        @include subtitle;
        text-align: right !important;
      }

      &-subtitle {
        @include subSubtitle;
        color: $tint-color;
        font-family: $font-mono;
        margin: 10px 0 5px;
        text-align: right !important;
      }

      &-description {
        @include description;
        background-color: transparent;
        font-weight: 500;
        text-align: right !important;
      }
    }
  }
}
