@import '../../styles/mixins';
@import '../../styles/variables';

.about {
  &__container {
    @include container;
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: grid;
    grid-template:
      'descr descr descr' auto
      'images images images' auto
      'skills skills skills' auto / 1fr 1fr 1fr;
    grid-gap: 20px;
    transition: all 150ms ease-in-out;

    @media screen and (min-width: 768px) {
      grid-template:
        'descr descr images' auto
        'skills skills images' auto
        'skills skills images' 1em / 1fr 1fr 1fr;
    }

    > div {
      &:nth-of-type(1) {
        grid-area: descr;
        display: flex;
        flex-direction: column;
      }
      &:nth-of-type(2) {
        grid-area: images;
      }
      &:nth-of-type(3) {
        grid-area: skills;
      }
    }
  }

  &__title {
    @include title;
    margin: 0;

    @media screen and (min-width: 768px) {
      margin: 0 0 30px 0;
    }
  }

  &__description p {
    @include description;
    margin: 20px 0 0;
  }

  &__line {
    background-color: $alt-secondary-color;
    height: 1px;
    margin: 10px 0 0;
    opacity: 0.7;
    width: 100%;

    @media screen and (min-width: 768px) {
      margin: 20px 0 0;
    }
  }

  &__list {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0 0;

    @media screen and (min-width: 485px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 635px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (min-width: 768px) {
      margin: 20px 0 0;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__item {
    color: $tint-color;
    font-family: $font-mono;
    font-size: 10px;
    line-height: 10px;
    margin: 5px 0 0;
    transition: all 270ms $animation;

    @media screen and (min-width: 425px) {
      font-size: 12px;
      line-height: 12px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 14px;
      line-height: 14px;
    }

    p {
      width: max-content;

      &::before {
        content: '⇢';
        margin: 0 5px 0 0;
      }
    }

    &--know {
      p::before {
        content: '►';
      }
    }

    &--ui {
      p::before {
        content: '⇥';
      }
    }

    &--other {
      p::before {
        content: '↦';
      }
    }
  }

  &__images {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 0 auto 0;

    @media screen and (min-width: 635px) {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 635px) {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

    &:hover {
      .about {
        &__image--me {
          transform: translate(0, -8px);

          @media screen and (min-width: 768px) {
            transform: translate(0, -20px);
          }
        }

        &__overlay--me {
          background-color: transparent;
          backdrop-filter: blur(0px);
          box-shadow: 0px 7px 15px 4px $tint-color;
          -webkit-box-shadow: 0px 7px 15px 4px $tint-color;
          -moz-box-shadow: 0px 7px 15px 4px $tint-color;

          span {
            opacity: 0;
          }
        }
      }
    }
  }

  $image-border-radius: 4px;

  &__image {
    border: 1px solid $tint-color;
    border-radius: $image-border-radius;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: all 270ms $animation;

    &:hover {
      .about__overlay {
        background-color: transparent;
        backdrop-filter: blur(0px);

        &--linkedin {
          box-shadow: 4px 4px 15px 4px $tint-color;
          -webkit-box-shadow: 4px 4px 15px 4px $tint-color;
          -moz-box-shadow: 4px 4px 15px 4px $tint-color;
        }

        &--github {
          box-shadow: -4px 4px 15px 4px $tint-color;
          -webkit-box-shadow: -4px 4px 15px 4px $tint-color;
          -moz-box-shadow: -4px 4px 15px 4px $tint-color;
        }
      }
    }

    &--me {
      cursor: auto;
      height: calc(150px + 5px + 2 * 1px);
      grid-column: 1 / 4;
      grid-row: 1 / 3;

      @media screen and (min-width: 375px) {
        grid-column: 1 / 5;
      }

      @media screen and (min-width: 635px) {
        grid-column: 1 / 3;
      }

      @media screen and (min-width: 635px) {
        height: 300px;
      }

      @media screen and (min-width: 768px) {
        grid-row: unset;
      }
    }

    &--github {
      grid-column: 1 / 2;

      @media screen and (min-width: 375px) {
        grid-column: 5 / 6;
      }

      @media screen and (min-width: 635px) {
        grid-column: unset;
      }

      &:hover {
        transform: translate(5px, -5px);
      }
    }

    &--linkedin {
      grid-column: 2 / 3;

      @media screen and (min-width: 375px) {
        grid-column: 6 / 7;
      }

      @media screen and (min-width: 635px) {
        grid-column: unset;
      }

      &:hover {
        transform: translate(-5px, -5px);
      }
    }

    &--cv {
      align-items: center;
      display: flex;
      grid-column: 3 / 4;
      height: calc(75px - 14px * 2);
      justify-content: center;
      padding: 14px 8px;

      @media screen and (min-width: 375px) {
        grid-column: 5 / 7;
      }

      @media screen and (min-width: 635px) {
        grid-column: 3 / 5;
        padding: 30px 15px;
        height: calc(150px - 30px * 2 - 20px);
      }

      @media screen and (min-width: 768px) {
        grid-column: 1 / 3;
        height: unset;
      }

      &:hover {
        transform: translate(0, -5px);
      }

      span {
        color: $tint-color;
        font-size: 16px;
        font-family: $font-sans;
        font-weight: 900;
        display: none;
        text-align: center;

        @media screen and (min-width: 425px) {
          display: inline-block;
        }
        @media screen and (min-width: 635px) {
          font-size: 30px;
        }
      }

      &::before {
        color: $tint-color;
        content: 'CV';
        display: flex;
        font-size: 16px;
        font-family: $font-sans;
        font-weight: 900;
        text-align: center;

        @media screen and (min-width: 425px) {
          content: '';
          display: none;
        }
      }
    }

    &--github,
    &--linkedin {
      height: 75px;
      min-width: 75px;
      width: unset;

      @media screen and (min-width: 635px) {
        height: 150px;
        min-width: unset;
        width: 150px;
      }
    }

    &--container {
      position: relative;
      border-radius: $image-border-radius;
      overflow: hidden;
      width: 100%;
      height: 100%;

      img {
        z-index: 0;
      }
    }
  }

  &__overlay {
    backdrop-filter: blur(10px);
    background-color: $tint-color-opacity;
    border-radius: $image-border-radius;
    bottom: 0;
    box-shadow: 0px 2px 5px 0px $tint-color;
    -webkit-box-shadow: 0px 2px 5px 0px $tint-color;
    -moz-box-shadow: 0px 2px 5px 0px $tint-color;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 120ms ease-in-out;
    z-index: 1;

    &--linkedin,
    &--github {
      backdrop-filter: blur(0px);
    }

    span {
      color: $tint-color;
      display: flex;
      font-size: 42px;
      font-family: $font-sans;
      font-weight: 900;
      left: 50%;
      opacity: 0.1;
      position: absolute;
      top: 50%;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      transition: all 120ms ease-out;
    }
  }

  &__skills-mapping {
    &__description {
      text-align: left !important;
      margin: 20px 0 0;
      @include description;
    }

    > div:first-of-type .about__skills-mapping__description {
      margin: 0;
    }
  }
}
