@import '../../styles/mixins';
@import '../../styles/variables';

.blog {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &__image {
    border-bottom: 3px solid $tint-color;
    margin: 150px 0 0 0;
    position: relative;
    height: 500px;
    width: calc(100vw - 12px);
  }

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__user {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;

    &-image {
      border-radius: 50%;
      border: 5px solid $tint-secondary-color;
      height: 40px;
      position: relative;
      overflow: hidden;
      width: 40px;
    }

    &-info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 20px;
    }

    &-username,
    &-last-updated {
      @include description;
    }

    &-username span {
      color: $tint-secondary-color;
    }
  }

  &__content {
    hr {
      border-color: $alt-secondary-color;
      margin: 30px 0;
      opacity: 0.7;
    }

    h1 {
      @include blogTitle;
      margin: 0 0 20px 0;
    }

    h2 {
      @include subtitle;

      code {
        background-color: $alt-color;
        border-radius: 3px;
        font-weight: 100;
        color: $primary-color;
        padding: 1px 3px;
        margin: 0 5px;
      }
    }

    h3 {
      @include subSubtitle;
    }

    p {
      @include description;
      margin: 20px 0;

      code {
        background-color: $alt-color;
        border-radius: 3px;
        color: $primary-color;
        padding: 1px 3px;
      }
    }
  }
}
