@import '../../styles/variables';

.overlay {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  position: fixed;
  width: calc(100% - (60px * 2));

  &__socials {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    align-items: center;
    border-radius: 14px;
    color: $alt-color;
    display: flex;
    font-size: 18px;
    margin: 5px 0;
    padding: 6px;
    transition: all 500ms ease-in-out;

    &:hover {
      background-color: $alt-secondary-color;
      color: $tint-color;
      transform: translateX(5px);

      span {
        transition: all 500ms ease-in-out;
        color: $tint-color;
        max-width: 200px;
        opacity: 1;
      }
    }

    span {
      color: $alt-secondary-color;
      font-size: 13px;
      margin: 0 0 0 5px;
      max-width: 0px;
      overflow: hidden;
      transition: all 500ms ease-in-out;
    }

    &:last-of-type {
      margin: 5px 0 10px 0;
    }
  }

  &__mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 13px;

    p {
      color: $alt-color;
      font-family: $font-mono;
      font-size: 13px;
      letter-spacing: 2px;
      margin: 0 0 100px;
      transform: rotate(90deg);
    }
  }

  &__line {
    background-color: $alt-color;
    height: 100px;
    width: 2px;
    margin: 10px 0 0 0;
    margin: 0 6.5px;

    &--link {
      margin: 0 6.5px 0 15.5px;
    }
  }
}
