$primary-color: #071225;
$primary-color-opacity: #071225bf;
$primary-color-v2: #0d1c33;
$secondary-color: #e2ecff;
$tertiary-color: #1e293b80;
$alt-color: #9aa8cb;
$alt-secondary-color: #3f5477;
$tint-color: #6dffd8;
$tint-secondary-color: #8fd7ca;
$tint-tertiary-color: #2dd4bf1a;
$tint-color-opacity: #6dffd840;
$tint-color-opacity-v2: #6dffd81f;
$tint-color-opacity-blog: #6dffd8d6;

$font-mono: var(--font-mono), 'SF Mono', 'Fira Code', 'Fira Mono', monospace;
$font-sans: var(--font-sans), 'Inter', 'Segoe UI', -apple-system, system-ui,
  sans-serif;

$animation: cubic-bezier(0.55, -0.19, 0.59, 1.45);
$animation-2: cubic-bezier(0.55, -0.19, 0.59, 0.95);
